<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>The Gossip Project - Contact</title>
    </head>

    <body>
       <center> <h1>Contact</h1>
        <p>Nous contacter au:+1 202-456-1111</p> 
        <%= link_to("https://www.instagram.com/itsmeleighton/?hl=fr") do %>
            <img src="https://fanart.tv/fanart/tv/80547/tvposter/gossip-girl-54bf287b50923.jpg">
        <%end%>
        </center>
        
    </body>
</html> 