<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
        Renseigne un titre : <input type='text' name='gossip_title'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>