<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>The Gossip Project - Team</title>
    </head>

    <body>
    <div class="card" style="width: 18rem;">
    <div class="card-header">
      Voici la team The Gossip Project
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fatouma</li>
      <li class="list-group-item">Camillia</li>
      <li class="list-group-item">Caroline</li>   
      <li class="list-group-item">Halima</li>
      <li class="list-group-item">Clément</li>
      <li class="list-group-item">Abdeldjallil</li>
      <li class="list-group-item">Ton</li>
    </ul>
    </div>
    </ul>
    </div>
    </ul>
    </div>
    </body>
</html>

  </ul>
</div>