<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>The Gossip Project - User</title>
    </head>

  <body>
    <h1>User </h1>
    <p>Find me in app/views/welcome/welcome_user.html.erb</p>

    <p> BIENVENUE <%= params[:first_name] %> ! Ici c'est notre super site de potins, il est chouette, non ?</p>


</body>
</html>